html,
body {
  height: 100%;
  background: rgb(128,128,128);
  background-image: linear-gradient(gray, white, gray);
}

h1 {
    text-align: center;
    color: white;
    font-size: 250%;
}

header {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: gray;
    width: 100%;
}

#aside-one {
    width: 12%;
    height: 100%;
    position: fixed;
    top: 0;
}

#aside-two {
    width: 12%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    height: 100%;

}

.sidebar {
    padding-left: 10%;
    padding-top: 60%;
    width: 100%;
    background: gray;
}

#right-sidebar {
    position: relative;
    right: 0;
}

strong {
    font-size: 2em;
}

#icons {
    height: 25%;
}

a {
    color: white;
}

li {
    padding-top: 10%;
    padding-bottom: 30%;
}

i {
    color: black;
}

#insta{
    padding-left: 2%;
}

#tik{
    padding-left: 12%;
}

#insta:hover {
    transform: scale(1.5);
}

#tik:hover {
    transform: scale(1.5);
} 

main {
    position: relative;
    width: 100%;
    text-align: center;
    color: black;
}

#content {
    position: relative;
    text-align: center;
    width: 76%;
    margin-left: 12%;
}

#slideshow {
    margin-top: 3%;
    width: 40%;
    margin-left: 30%;
}

.carousel-caption h3{
    margin-top: -25%;
}

.carousel-indicators {
    width: 20%;
    margin-left: -10%;


}

.text {
    padding: 10%;
    margin-bottom: -5%;
}

p {
    font-size: 2em;
}